/.idea/
/hw4task1/.idea/
/hw4task1/hw4task1.iml
/hw4task1/pom.xml
/hw4task1/target/
/hw4task2/.idea/
/hw4task2/target/
/hw4task1/src/config/
/hw4task2/src/config/
/hw4task2/hw4task2.iml
/hw4task2/pom.xml
